@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin:0;
  padding: 0;
}


html{
  font-family: Orbitron, sans-serif;
  font-size: 62.5%;
  color: rgb(217, 231, 107);
}

body{
  font-family: Orbitron, sans-serif;
  font-size: 1.6rem;
  background-color : #354440;
  color: rgb(217, 231, 107);

}
