.mainImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 4rem;
  padding-bottom: -4rem !important;
  animation-name: moveIn2;
  animation-duration: 1.8s;
}

@keyframes moveIn2 {
  from{opacity: 0; transform: translateX(-800px);}
  to{opacity: 1; transform: translateX(0px);}

}


.textimage {
  position: relative;
  margin-top: 5px;
  color: rgb(217, 231, 107);
  font-family: Orbitron;
  font-size: 30px;
  letter-spacing: 0.4rem;
  /* text-shadow: 5px 5px 3px rgb(0, 0, 0); */
  text-shadow: 5px 10px 10px #354440,
  15px 13px 10px rgba(0,0,0,0.3),
  15px 23px 20px rgba(0,0,0,1),
  15px 33px 30px rgba(0,0,0,1);
}

.werkinuitvoering {
  position: absolute;
  color: rgb(255, 0, 255);
  top: 40%;
  left: 35%;
}

.kijken {
  position: absolute;
  top: 25rem;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 10s;

}

.schildersoog {
  position: absolute;
  top: 45rem;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 20s;

}

.beeldenmaker {
  position: absolute;
  top: 10rem;
  right: 10%;
  left:0%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 12s;
}

.spelen {
  position: absolute;
  top: 35rem;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 17s;
}

@keyframes ticker {
  0% { transform: translate3d(200%, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
