
.fixed-bottom {
  background-color: #354440;
  margin-bottom: 0;
  padding: 1%;
}

hr {
  background-color: rgba(255, 255, 255, .5);
}

.footer {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, .5) !important;
  margin-bottom: 0;
  margin-left: -100px;
}


.copyright1 {
  color: black;
  font-size: 1.3rem;
  font-style: italic;
  float: left;
  margin-left: 5%;
}

.copyright2 {
  color: black;
  font-size: 1.3rem;
  float: right;
  font-style: italic;
  padding-right: 5%;
}
