
.fixed-bottom {
  background-color: #354440;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

p {
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  color: rgba(217, 231, 107, .8);


}

hr {
  background-color: rgba(217, 231, 107, .5);
}
