figure {
  grid-column: span 4;
  margin-bottom: 3rem;

}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figcaption {
  text-align: center;
}


@media (max-width: 800px) {
  figure{
    grid-column: span 6;
  }
}

@media (max-width: 400px) {
  figure{
    grid-column: span 12;
  }
}
