.list {
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
  grid-template-rows: repeat(2, minmax(0, 350px));
  column-gap: 2rem;
  margin: 2rem;
  animation-name: moveIn;
  animation-duration: 2s;
}

.picture {

}

@keyframes moveIn {
  from{opacity: 0; transform: translateX(1000px);}
  to{opacity: 1; transform: translateX(0px);}

}
